
.catagoryContainer{
    height: 90vh;
}

.backContainter{
    height: 10vh;
}

.background{
    height: 145vh;
}

.backgroundS{
    height: 125vh;
}

.backgroundC{
    height: 230vh;
}

.separatorLine{
    width: 3%;
    height: 92%;
}

.orderContainer{
    width: 28%;
}

body {
    top: 0px !important;
}
   
body > .skiptranslate > iframe.skiptranslate {
    display: none !important;
    visibility: hidden !important;
}

.topButtons{
    height: 350%;
}

.homButton{
    width: 35%;
}

.topCon{
    width: 65%;
}