.name {
    width: 25%;
}

.prices{
    width: 15%;
}

.normPrice {
    width:15%;
}

.lgPrice {
    width: 15%;
}

.ingredient {
    width: 10%;
}

.buttonn{
    width: 20%;
}

.total {
    width: 98%
}