.name {
    width: 100%;
}

.currentStock {
    width:20%;
}

.idealStock {
    width: 20%;
}

.consumerPrice {
    width: 20%;
}

.button{
    width: 10%;
}

.total {
    width: 98%
}

.ingredient {
    width: 20%;
}

.meer{
    width: 20%;
}

.mew{
    width: 20%
}

