.name {
    width: 40%;
}

.currentStock {
    width:20%;
    margin-right: 2px;
}

.idealStock {
    width: 20%;
}

.amountUsed {
    width: 20%;
}

.consumerPrice {
    width: 20%;
}

.button{
    width: 20%;
}

.normPrice {
    width:15%;
}

.lgPrice {
    width: 15%;
}

.ingredient {
    width: 10%;
}

.backContainter{
    height: 13vh;
}

.mainContainer{
    height: 85vh;
}

.ingredientHeader {
    width: 98%;
}

.ingredientTabel {
    width: 98%;
}

.ingredientTableOuter {
    height: 70%;
}

.createIng {
    height: 15%;
}

.prices {
    margin-left: 4rem;
}