.nameO {
    width: 30%;
}

.pricesO{
    width: 12.5%;
}

.normPrice {
    width:15%;
}

.lgPrice {
    width: 15%;
}

.ingredient {
    width: 10%;
}

.buttonnO{
    width: 20%;
}

.totalO {
    width: 98%
}